*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}
body{
    background-color: black;
}


.main{
    background-image: url("netflix.abc.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1600px;
            height: 70vh;
    width: 100vw; 
            position: relative;
        }
        .main .box{
            height: 70vh;
            width: 100%;
            opacity: 0.70;
            background-color: black;
            position: absolute;
            top: 0;
        }
        nav{
            display: flex;
            max-width: 60vw;
            align-items: center;
            justify-content: space-between;
            margin: auto;
            height: 62px;

        }
        nav img{
            width: 100px;
            height: 50px;
            position: relative;
            z-index: 10;
        }
        nav button{
            z-index: 10;
            position: relative;
        }
        .hero{
            font-family: 'Martel', sans-serif;
            height: calc(100% - 62px);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: white;
            position: relative;
            gap: 20px;
            padding: 0 30px;
        }
        .hero> :first-child{
            font-size: 60px;
            font-weight: 900;
            text-align: center;
        }
        .hero> :nth-child(2){
            font-size: 29px;
            font-weight: 500;
            text-align: center;
        }
        .hero> :nth-child(3){
            font-size: 18px;
            font-weight: 500;
            text-align: center;
        }
        .separation{
            height: 7px;
            background-color: rgb(51, 50, 50);
        }
        .btn{
            padding: 3px 8px;
            font-weight: bold;
            background-color: rgba(255, 255, 255, 0.048);
            color: white;
            border: 1px solid white;
            border-radius: 5px;
            cursor: pointer;
        }
        .btn-red{
            background-color: red;
            color: white;
            font-size: 15px;
            padding: 10px 20px;
            border-radius: 5px;
        }
    .main input{
        font-size: 15px;
            padding: 10px 20px;
            border-radius: 5px;
            /* background-color: rgba(250, 249, 249, 0.2); */
    }

        .btn-red-sm{
            background-color: red;
            color: white;
        }
        .first{
            display: flex;
            justify-content: center;
            gap: 10px;
            color: white;
            margin: auto;
            max-width: 70vw;
            align-items: center;
        }
        .secImg{
            position: relative;
        }
        .secImg img{
            width: 30vw;
            position: relative;
            /* z-index: 1; */
            /* height: 40vh; */
            

        }
        .secImg video{
            position: absolute;
            top: 130px;
            right: 40px;
            /* padding: ; */
            width: 25vw;
            /* height: 15vh; */

        }
        .first> div :first-child{
            font-size: 40px;
            font-weight: 500;
            text-align: center;
            /* padding: 34px 0; */
        }
        .first> div :nth-child(2){
            font-size: 20px;
            font-weight: 300;
            text-align: center;
        }
        .faq h2{
            text-align: center;
            font-size: 48px;
        }
        .faq{
            background-color: black;
            color: white;
            padding: 34px;
            font-size: 20px;
        }
        .faqbox{
            display: flex;
            justify-content: space-between;
            padding: 24px;
            background-color: gray;
            max-width: 70vw;
            margin: 34px auto;
            cursor: pointer;
        }
        .faqbox:hover{
            background-color: rgb(51, 50, 50);
            transition: all 0.5s ease-in-out;
        }
        footer{
            color: white;
            max-width: 60vw;
            margin: auto;
            padding: 14px;
        }
        footer .questions{
            padding: 34px 0;


        }
        .footer a{
            text-decoration: none;
            color: white;
            font-size: 14px;
        }
        .footer{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            color: white;
            max-width: 60vw;
            margin: auto;
        }
        .footer-item{
            display: flex;
            flex-direction: column;
            gap: 23px;
        }
