* {
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: black;
}


.main {
    background-image: url("../public/netflix_bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1600px;
    height: 70vh;
    width: 100vw;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.70;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    max-width: 60vw;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 62px;

}

nav img {
    width: 100px;
    height: 50px;
    position: relative;
    z-index: 10;
}

nav button {
    z-index: 10;
    position: relative;
}

.hero {
    font-family: 'Martel', sans-serif;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 20px;
    padding: 0 30px;
}

.hero> :first-child {
    font-size: 60px;
    font-weight: 900;
    text-align: center;
}

.hero> :nth-child(2) {
    font-size: 29px;
    font-weight: 500;
    text-align: center;
}

.hero> :nth-child(3) {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(51, 50, 50);
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.048);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 5px;
}

.main input {
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    /* background-color: rgba(250, 249, 249, 0.2); */
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.first {
    display: flex;
    justify-content: center;
    gap: 10px;
    color: white;
    margin: auto;
    max-width: 70vw;
    align-items: center;
}

.secImg {
    position: relative;
}

.secImg img {
    width: 30vw;
    position: relative;
    /* z-index: 1; */
    /* height: 40vh; */


}

.secImg video {
    position: absolute;
    top: 130px;
    right: 40px;
    /* padding: ; */
    width: 25vw;
    /* height: 15vh; */

}

.first>div :first-child {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    /* padding: 34px 0; */
}

.first>div :nth-child(2) {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background-color: black;
    color: white;
    padding: 34px;
    font-size: 20px;
}

.faqbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background-color: #2d2d2d;
    max-width: 70vw;
    margin: 10px auto 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.faqbox:hover {
    background-color: #414141;
}

.faq-answer {
    background-color: #2d2d2d;
    max-width: 70vw;
    margin: 1px auto 10px;
    padding: 0 24px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.5, 0, 0.1, 1);
    color: white;
    font-size: 1.2rem;
}

.faqbox.active+.faq-answer {
    max-height: 600px;
    padding: 24px;
}

.faqbox svg {
    transition: transform 0.3s;
    stroke: white;
}

.faqbox.active svg {
    transform: rotate(45deg);
}

.faq-answer p {
    margin-bottom: 20px;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

footer .questions {
    padding: 34px 0;


}

.footer a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    max-width: 60vw;
    margin: auto;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

/* Modal Styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 60px;
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 8px;
    position: relative;
    border: 1px solid #333;
}

.modal-content h2 {
    color: white;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

.modal-content input[type="email"],
.modal-content input[type="password"] {
    padding: 15px;
    background: #333;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.modal-content button {
    margin-top: 20px;
    padding: 15px;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #999;
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s;
}

.close-btn:hover {
    color: white;
}

.modal-footer {
    display: flex;
    align-items: center;
    color: #b3b3b3;
    font-size: 13px;
    margin-top: 10px;
}

.modal-footer a {
    margin-left: auto;
    color: #b3b3b3;
    text-decoration: none;
}

.modal-footer a:hover {
    text-decoration: underline;
}

.modal-footer input[type="checkbox"] {
    margin-right: 5px;
}